body {
  font-family: Roboto, sans-serif;
  color: #757575;
  font-size: 14px;
  font-style: normal;
}

/*============WebStudio============*/

/*NAV webstudio and portfolio */
.navigation,
.navigation-list,
.navigation-list-header {
  display: flex;
}

/*LOGO*/
.logo-link,
.logo-link-secondary,
.logo-secondary-footer {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: #2196f3;
}

.logo {
  font-family: Raleway;
  font-style: 700;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: #2196f3;
}

.logo-link-secondary {
  color: #212121;
}

.logo-secondary-footer {
  color: #ffffff;
}

/*===========NAVigation list===========*/

.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
}

.current-link {
  color: #2196f3;
}

.navigation-list-link:hover,
.navigation-list-link:focus {
  color: #2196f3;
}

.contact-link-tel,
.contact-link-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #757575;
}

.contact-link-tel:hover,
.contact-link-tel:focus,
.contact-link-mail:hover,
.contact-link-mail:focus {
  color: #2196f3;
}

/*=======MAIN webstudio=======*/

/*===Service===*/
.service {
  background: #2f303a;
}

.service-idea {
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.service-btn {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: bold;
  font-size: 16px;
  line-height: 1, 875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: #2196f3;
  color: #ffffff;
}

.service-btn:hover,
.service-btn:focus {
  background: #ffffff;
  color: #2196f3;
}

/*=======Advantage container=======*/
.advantage-lists {
  display: flex;
}

.advantage-list-item {
  font-weight: bold;
  font-size: 14px;
  line-height: 1, 143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.advantage-list-content {
  width: 270px;
  height: 75px;
  left: 815px;
  top: 800px;
}

/*=======WORK instrument=======*/
.work-instrument-list {
  display: flex;
}

.work-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1, 167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/*===About Work team===*/

.about-work-team {
  background: #f5f4fa;
}

.our-work-team {
  font-weight: bold;
  font-size: 36px;
  line-height: 1, 167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.work-team-lists {
  display: flex;
}

.work-team-card {
  position: unset;
  width: 270px;
  height: 368px;
  left: 815px;
  top: 1635px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background: #ffffff;
}

.work-team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 188;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.work-team-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

/*footer webstudio and portfolio*/

.footer {
  background: #2f303a;
}

.contact-link-tel-footer,
.contact-link-mail-footer {
  font-weight: normal;
  font-size: 14px;
  line-height: 1, 714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.contact-link-tel-footer:hover,
.contact-link-tel-footer:focus,
.contact-link-mail-footer:hover,
.contact-link-mail-footer:focus {
  color: #2196f3;
}

.text-address {
  font-weight: normal;
  font-size: 14px;
  line-height: 1, 714;
  letter-spacing: 0.03em;
  color: #ffffff;
}
/*=============portfolio===================*/

/*=======potfolio-toolbar=======*/

.main-conteiner-btns-end-links {
  background: #e5e5e5;
}

/*===Main conteiner toolbar*/
.potfolio-toolbar-lists {
  display: flex;
}
.potfolio-toolbar-item {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  background: #f5f4fa;
  border-radius: 4px;
}

.potfolio-toolbar-btn:hover,
.potfolio-toolbar-btn:focus {
  background: #2196f3;
  color: #ffffff;
}

.potfolio-toolbar-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/*======Projtct links======*/

.project-lists {
  display: flex;
}

.project-list-item {
  width: 370px;
  height: 404px;

  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.project-link-img {
  width: 370px;
  height: 294px;
}

.project-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.project-tools {
  font-weight: normal;
  font-size: 16px;
  line-height: 1, 875;
  letter-spacing: 0.03em;
  color: #757575;
}
